# Web service
gunicorn==20.0.4
Flask==1.1.2
Flask-RESTful==0.3.8

# Web scraping job
selenium==3.141.0
lxml==4.5.2
redis==3.3.7
celery==4.4.0

# Database
Flask-SQLAlchemy==2.4.3
psycopg2==2.8.6

# Database cli tool
click==7.1.2