name: Multi-Container App Test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repo
        uses: actions/checkout@v2
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
            envkey_COMPOSE_PROJECT_NAME: mta_tracker
            envkey_POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            envkey_POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            envkey_PYTHONUNBUFFERED: true
            file_name: .env
      - name: Build app
        run: docker-compose up -d
      - name: Create and seed db
        run: docker-compose exec -T api mta_tracker db reset
      - name: Run tests
        run: docker-compose exec -T api py.test mta_tracker/tests
